# Treat frontend as vendored (ignored from language stats)
frontend/* linguist-vendored

# Ignore generated frontend files from build
src/main/frontend/generated/* linguist-generated

# Force Java recognition
*.java linguist-language=Java
